<h1><%= @artist.full_name %></h1>
<hr />

<div class="secondary menu">
  <%= link_to "View Artists", artists_path, class: "ui button" %>
  <%= link_to "Edit", edit_artist_path(@artist), class: "ui button" %>
</div>

<div class="ui list">
  <div class="item"><%= "Age: #{@artist.age}" %></div>
  <div class="item"><%= "From: #{@artist.city}" %></div>
  <div class="item"><%= "Instrument: #{@artist.instrument}" %></div>
</div>
